{
  "id": "java-modernize-apps",
  "name": "Java Modernize-Apps",
  "description": "Java JDK Stack on RHEL7 for Application Modernization Workshop",
  "scope": "general",
  "workspaceConfig": {
    "environments": {
      "default": {
        "recipe": {
          "type": "dockerimage",
          "content": "quay.io/mclerix/che-eap-rhel7"
        },
        "machines": {
          "dev-machine": {
            "env": {
              "MAVEN_OPTS" : "-Xms256m -Xmx1024m",
              "MAVEN_MIRROR_URL": "http://nexus:8081/repository/maven-all-public"
            },
            "servers": {
              "http/web8080": {
                "port": "8080",
                "attributes": {},
                "protocol": "http"
              },
              "http/web8082": {
                "port": "8082",
                "attributes": {},
                "protocol": "http"
              },
              "http/web8081": {
                "port": "8081",
                "attributes": {},
                "protocol": "http"
              },
              "http/web10080": {
                "port": "10080",
                "attributes": {},
                "protocol": "http"
              }
            },
            "volumes": {},
            "installers": [
              "org.eclipse.che.exec",
              "com.redhat.bayesian.lsp",
              "org.eclipse.che.terminal",
              "org.eclipse.che.ws-agent",
              "org.eclipse.che.ls.java"
            ],
            "attributes": {
              "memoryLimitBytes": "3221225472"
            }
          }
        }
      }
    },
    "commands": [
          "{\"commandLine\":\"mvn wildfly:run -f ${current.project.path}/pom.xml\", \"name\":\"run-eap\", \"attributes\":{\"goal\":\"Run\", \"previewUrl\":\"\"}, \"type\":\"custom\"}",
          "{\"commandLine\":\"mvn wildfly:start wildfly:add-resource wildfly:shutdown -f ${current.project.path}/pom.xml\", \"name\":\"add-jms-resource\", \"attributes\":{\"goal\":\"Common\", \"previewUrl\":\"\"}, \"type\":\"custom\"}",
          "{\"commandLine\":\"mvn clean package -f ${current.project.path}/pom.xml\", \"name\":\"build\", \"attributes\":{\"goal\":\"Build\", \"previewUrl\":\"\"}, \"type\":\"mvn\"}",
          "{\"commandLine\":\"oc start-build coolstore --from-file=${current.project.path}/deployments/ROOT.war --follow\", \"name\":\"deploy-eap-openshift\", \"attributes\":{\"goal\":\"Deploy\", \"previewUrl\":\"\"}, \"type\":\"custom\"}",
          "{\"commandLine\":\"export COOLSTORE_DEV_POD_NAME=$(oc get pods --selector deploymentconfig=coolstore -o jsonpath='{.items[?(@.status.phase==\\\"Running\\\")].metadata.name}')\\noc rsync ${current.project.path}/deployments/ $COOLSTORE_DEV_POD_NAME:/deployments --watch --no-perms &\", \"name\":\"sync-eap-openshift\", \"attributes\":{\"goal\":\"Common\", \"previewUrl\":\"\"}, \"type\":\"custom\"}",
          "{\"commandLine\":\"mvn clean package -Popenshift -f ${current.project.path}/pom.xml\", \"name\":\"build-eap-openshift\", \"attributes\":{\"goal\":\"Build\", \"previewUrl\":\"\"}, \"type\":\"custom\"}",
          "{\"commandLine\":\"cd ${current.project.path};\\nmvn wildfly-swarm:run\", \"name\":\"run-thorntail\", \"attributes\":{\"goal\":\"Run\", \"previewUrl\":\"${server.http/web8080}\"}, \"type\":\"mvn\"}",
          "{\"commandLine\":\"cd ${current.project.path};\\nmvn spring-boot:run;\", \"name\":\"run-spring-boot\", \"attributes\":{\"goal\":\"Run\", \"previewUrl\":\"${server.http/web8081}\"}, \"type\":\"mvn\"}",
          "{\"commandLine\":\"cd ${current.project.path};\\nmvn verify;\", \"name\":\"test-spring-boot\", \"attributes\":{\"goal\":\"Test\", \"previewUrl\":\"\"}, \"type\":\"mvn\"}",
          "{\"commandLine\":\"cd ${current.project.path};\\nmvn compile vertx:run\", \"name\":\"build-vertx\", \"attributes\":{\"goal\":\"Build\", \"previewUrl\":\"\"}, \"type\":\"mvn\"}",
          "{\"commandLine\":\"cd ${current.project.path};\\nmvn compile vertx:run\", \"name\":\"run-vertx\", \"attributes\":{\"goal\":\"Run\", \"previewUrl\":\"${server.http/web8082}\"}, \"type\":\"mvn\"}"
        ],
    "projects": [],
    "defaultEnv": "default",
    "name": "default",
    "links": []
  },
  "components": [
    {
      "version": "7",
      "name": "RHEL"
    },
    {
      "version": "1.8.0_45",
      "name": "JDK"
    },
    {
      "version": "3.2.2",
      "name": "Maven"
    },
    {
      "version": "2.6",
      "name": "Ansible"
    },
    {
      "version": "3.11",
      "name": "OpenShift CLI"
    },
    {
      "version": "0.0.19",
      "name": "OpenShift DO"
    }
  ],
  "creator": "ide",
  "tags": [
    "Java",
    "JDK",
    "Maven",
    "RHEL",
    "Git"
  ]
}